.footer{
    background-color: $grisOscuro;
    padding: $separacion ;
    margin: 0;
    .contenedor-footer{
        padding-top: $separacion ;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
} 