.footer{
    background-color: $grisOscuro;
    padding: $separacion ;
    margin: 0;
    .contenedor-footer{
        padding-top: $separacion ;

    }
    .navegacion{
        visibility: visible;
        opacity: 1;
    }

    .copyright{
        color: $blanco;
        text-align: center;
    }
} 